<?xml version="1.0"?>
<launch>

	<!-- send table to param server -->
	<param name="table_full" textfile="$(find cob_gazebo_worlds)/objects/table.model" />

	<!-- spawn table in gazebo -->
	<!-- 45 degrees = .785-->
	<node name="spawn_table" pkg="gazebo" type="spawn_model" args="-gazebo -param table_full -x -1.22 -y 0 -z 0 -R 0 -P 0 -Y 0.0 -model table_full"
respawn="false" output="screen" />

</launch>
